<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Martinez_CrystalReport.Properties.Settings.CompanyXConnectionString"
            connectionString="Data Source=DESKTOP-EHK5BVL;Initial Catalog=CompanyX;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		<add key="Report" value="Report\Report.rpt"/>
		<add key="Excess" value="\bin\Debug"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>